html {
    height: 100%;
}
body {
    color: #eee;
    margin: 0;
    height: 100%;
}
.contain {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.banner {
    background-image: url(/img/20th-Commonwealth-Games---014.jpg);
}
.full-height {
    height: 100%;
    background-size: cover;
}
.banner h1 {
    font-family: 'antoniobold', serif;
    position: absolute;
    text-transform: uppercase;
    top: 45%;
    width: 50%;
    font-size: 40px;
}
.banner h1 span {
    font-family: 'antoniolight', serif;
    text-transform: uppercase;
    top: 50%;
    font-weight: normal;
    font-size: 30px;
}
.logo {
    position: relative;
    margin: 0;
    top: 75px;
    max-width: 75%;
}
.desk {
    display: none;
}
.menu_button {
    position: fixed;
    margin-top: 70px;
    right: 0;
    font-size: 40px;
    color: white;
    background: none;
    border: none;
}
@media (min-width: 679px) {}
@media (min-width: 1024px) {
    .banner h1 {
        font-size: 77px;
        display: inline-block;
        width: 33%;
    }
    .desk {
        display: block;
    }
    nav.desk .menu {
        display: block;
        list-style-type: none;
        text-align: right;
        font-family: 'antoniobold', serif;
    }
    nav.desk .menu li {
        display: inline-block;
        padding: 0 1em;
        margin-top: 12px;
    }
    nav.desk .menu li a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }
    nav.desk .menu li a:hover {
        text-decoration: underline;
    }
    .menu_button {
        display: none;
    }
}
@media (min-width: 1250px) {
    .banner h1 span {
        font-size: 46px;
    }
}

/*fonts*/

@font-face {
    font-family: 'antoniobold';
    src: url('/fonts/antonio-bold-webfont.eot');
    src: url('/fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/antonio-bold-webfont.woff') format('woff'), url('/fonts/antonio-bold-webfont.ttf') format('truetype'), url('/fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'antoniolight';
    src: url('/fonts/antonio-light-webfont.eot');
    src: url('/fonts/antonio-light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/antonio-light-webfont.woff') format('woff'), url('/fonts/antonio-light-webfont.ttf') format('truetype'), url('/fonts/antonio-light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'antonioregular';
    src: url('/fonts/antonio-regular-webfont.eot');
    src: url('/fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/antonio-regular-webfont.woff') format('woff'), url('/fonts/antonio-regular-webfont.ttf') format('truetype'), url('/fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
