/*
****************************** CSS RESET**************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
****************************** END CSS RESET**************************/

html {
    height: 100%;
}

body {
    color: #eee;
    margin: 0;
    height: 100%;
}

p {
    line-height: 1.6;
    font-size: 15px
}

h1 {
    padding-bottom: 0.5em;
}

.contain {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.full-height {
    height: 100%;
    background-size: cover;
}

.center-vert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0 4em;
}

.banner {
    background-image: url(/img/20th-Commonwealth-Games---014.jpg);
}

.banner h1 {
    font-family: 'antoniobold', serif;
    position: absolute;
    text-transform: uppercase;
    top: 45%;
    width: 50%;
    font-size: 40px;
}

.banner h1 span {
    font-family: 'antoniolight', serif;
    text-transform: uppercase;
    top: 50%;
    font-weight: normal;
    font-size: 30px;
}

.logo {
    position: relative;
    margin: 0;
    top: 75px;
    max-width: 75%;
}

.desk {
    display: none;
}

.menu_button {
    position: fixed;
    margin-top: 70px;
    right: 0;
    font-size: 40px;
    color: white;
    background: none;
    border: none;
}

.about {
    display: block;
    height: 100%;
}

.about .left {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(/img/biobg.jpg);
    background-size: cover;
    padding: 0;
}

about. right {
    display: none;
    padding: 0;
}

.about .left h1 {
    font-size: 31px;
    font-family: 'antoniobold', sans-serif;
    text-transform: uppercase;
}

.about .left p {
    font-family: 'Lato'
}

@media (min-width: 679px) {}

@media (min-width: 1024px) {
    .banner h1 {
        font-size: 77px;
        display: inline-block;
        width: 50%;
    }
    .desk {
        display: block;
    }
    nav.desk .menu {
        display: block;
        list-style-type: none;
        text-align: right;
        font-family: 'antoniobold', serif;
    }
    nav.desk .menu li {
        display: inline-block;
        padding: 0 1em;
        margin-top: 12px;
    }
    nav.desk .menu li a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }
    nav.desk .menu li a:hover {
        text-decoration: underline;
    }
    .menu_button {
        display: none;
    }
    .about {
        height: 50%;
        padding: 0;
        position: relative;
    }
    .about .left {
        width: 40%;
        float: left;
    }
    .about .right {
        height: 100%;
        float: right;
        width: 60%;
        margin: 0;
        background-image: url(/img/about-right.jpg);
        background-size: cover;
    }
}

@media (min-width: 1250px) {
    .banner h1 span {
        font-size: 46px;
    }
}
/*fonts*/

@font-face {
    font-family: 'antoniobold';
    src: url('/fonts/antonio-bold-webfont.eot');
    src: url('/fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/antonio-bold-webfont.woff') format('woff'), url('/fonts/antonio-bold-webfont.ttf') format('truetype'), url('/fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antoniolight';
    src: url('/fonts/antonio-light-webfont.eot');
    src: url('/fonts/antonio-light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/antonio-light-webfont.woff') format('woff'), url('/fonts/antonio-light-webfont.ttf') format('truetype'), url('/fonts/antonio-light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antonioregular';
    src: url('/fonts/antonio-regular-webfont.eot');
    src: url('/fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/antonio-regular-webfont.woff') format('woff'), url('/fonts/antonio-regular-webfont.ttf') format('truetype'), url('/fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 26, 2014 */
/* Webfont: Lato-BlackItalic */

@font-face {
    font-family: 'LatoBlack';
    src: url('/fonts/Lato-BlackItalic.eot');
    /* IE9 Compat Modes */
    
    src: url('/fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('/fonts/Lato-BlackItalic.woff') format('woff'),
    /* Modern Browsers */
    
    url('/fonts/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.eot');
    /* IE9 Compat Modes */
    
    src: url('/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('/fonts/Lato-Regular.woff') format('woff'),
    /* Modern Browsers */
    
    url('/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}